html{
  min-height:100%;
}

body{
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 320px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #090A0F; 
}
 
::-webkit-scrollbar-thumb {
  background: #1f3e5a; 
}

::-webkit-scrollbar-thumb:hover {
  background: white; 
}
.navbar{
  background-color:#090A0F;
}
.navbar-nav li a{
  color:#1f3e5a;
  text-decoration:none;
}

.navbar-nav li a:hover{
  color:white;
}
.info{
  position:relative;
  left: -200px;
  animation: slide-right 2s ease-in both;
}

.info a{
  text-decoration: none;
  color:#1f3e5a;
}

.info a:hover{
  color: white;
}

.list-view{
  color: white;
  margin: 0 auto;
  max-width: 1000px;
  text-align:center;
  width:50%;
}

.detail-view{
  color:white;
  margin: 0 auto;
  max-width: 1000px;
  max-height:2000px;
  text-align:center;
  width:50%;
  height:100%;
  position: relative;
  top: 250px;
}


.spaceImg{
  border: 2px solid rgb(43, 41, 41);
  border-radius: 15px;
  cursor:none;
  max-width: 100%;
  max-height: 100%;
  transition: 0s 1800s;
}

.spaceImg:hover{
  border: 2px solid #1f3e5a;
  transition: 0s;
}

@keyframes slide-right {
  0%{
    opacity:0;
    transform: translateX(0);
  }
  100%{
    opacity:1;
    transform: translate(200px);
  }
}

/*#star1{
  width: 1px;
  height: 1px;
  background: transparent;
  
  animation: animStar 50s linear infinite;
}

#star1:after{
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  
}

#star2{
  width: 2px;
  height: 2px;
  background: transparent;

  animation: animStar 100s linear infinite;
}

#star2:after{
  content: "";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  
}

#star3{
  width: 3px;
  height: 3px;
  background: transparent;

  animation: animStar 150s linear infinite;
}

#star3:after{
  content: "";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  
}*/

/*@keyframes animStar{
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-2000px);
  }
}
*/
